<!DOCTYPE html>
<html>
  <head>
    <title>LmsGelo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body class="dx-viewport">
    <p class="notice"><%= notice %><p>
    <p class="alert"><%= alert %><p>
<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <%= yield %>
  </body>
</html>
